<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Review\Model\Review">
        <plugin name="review-validation-plugin" type="Training1\Review\Model\Plugin\Review" sortOrder="10" />
    </type>
</config>